<div class="row">
    <div class="col"> <caption>#</caption> </div>
    <div class="col"> <caption>Description</caption> </div>
    <div class="col"> <caption>Trainer Name</caption> </div>
    <div class="col"> <caption>Avg Rating</caption> </div>
    <div class="col"> <caption>No. of Trainings Completed</caption> </div>
</div>

<div  *ngFor="let result of results">
<div class="row">
    <div class="col">
        <img src="../../_content/spring-boot-logo.png" alt="Training" width="100" height="100"/>
    </div>
    <div class="col">
        <p>{{ result.trainingDescription }}</p>
    </div>
    <div class="col">
        <p>{{ result.trainerName }}</p>
    </div>
    <div class="col">
        <p>{{ result.avgRating }}</p>
    </div>
    <div class="col">
            <p>{{ result.feeCharged }}</p>
        </div>   
    <div class="col">
        <p>{{ result.numOfTrainingsCompleted }}</p>
        <a (click)="rateTraining()" class="btn btn-primary" role="button">
            Rate</a>
    </div>
</div>
</div>
