<h2>Mentor Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="username">Email</label>
        <input type="email" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Email address is required</div>
            <div *ngIf="f.username.errors.email">Email address is invalid</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>

    <div class="form-group">
            <label for="timezone">TimeZone</label>
            <select class="form-control" title="Please choose one option" data-live-search="true" data-size="20">
                    <option>2:00 PM to 4:00 PM</option>
                    <option>4:00 PM to 6:00 PM</option>
                    <option>6:00 PM to 8:00 PM</option>
            </select>
    </div>

    <div class="form-group">
            <label for="technologies">Technologies</label>
            <select class="form-control" multiple title="Please choose options">
                    <option>Angular</option>
                    <option>Spring Boot & Spring MVC</option>
                    <option>MySQL</option>
            </select>
    </div>

    <div class="form-group">
            <label for="facilities">Facilities provided - material</label>
            <input type="file" class="form-control-file border">
    </div>

    <div class="form-group">
            <label for="examples">Examples/Cloud labs</label>
            <input type="text" class="form-control"/>
    </div>

    <div class="form-group">
            <label for="LinkedInUrl">LinkedIn URL</label>
            <input type="text" class="form-control"/>
    </div>

    <div class="form-group">
            <label for="yearsOfExperience">Years Of Experience</label>
            <input type="number" formControlName="yearsOfExperience" class="form-control" value="0"/>
    </div>

    <div class="form-group">
            <label for="profile">Profile</label>
            <input type="file" class="form-control-file border" accept="image/*" value="Upload">
    </div>

    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="/mentorLogin" class="btn btn-link">Cancel</a>
    </div>
</form>
