<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser || currentMentor">
    <div class="navbar-nav">
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
        <a class="nav-item nav-link" routerLink="/notification">Notification</a>
    </div>
</nav>

<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="!(currentUser || currentMentor)">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/userLogin">User Login</a>
        <a class="nav-item nav-link" routerLink="/mentorLogin">Mentor Login</a>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="https://captivateprime.adobe.com/IIHTIBM" target="_top">IIHT learning platform</a>
    </p>
    <p>
        <a href="https://vs.iiht.tech/vpn/index.html" target="_top">IIHT LAB</a>
    </p>
</div>