<div class="row">
    <div class="col"> <caption>#</caption> </div>
    <div class="col"> <caption>Technique Name</caption> </div>
    <div class="col"> <caption>Description</caption> </div>
    <div class="col"> <caption>Charge Fee</caption> </div>
</div>

<div  *ngFor="let tech of techs">
<div class="row">
    <div class="col">
        <img src="../_content/spring-boot-logo.png" alt="Training" width="100" height="100"/>
    </div>
    <div class="col">
        <p>{{ tech.name }}</p>
    </div>
    <div class="col">
        <p>{{ tech.description }}</p>
    </div>
    <div class="col">
            <p>{{ tech.feeCharged }}</p>
    </div>
    <div class="col">
        <a href="" class="btn btn-primary" role="button">
            Edit</a>
    </div> 
</div>
</div>
