<div class="row">
    <div class="col"> <caption>#</caption> </div>
    <div class="col"> <caption>Skill Name</caption> </div>
    <div class="col"> <caption>Description</caption> </div>
    <div class="col"> <caption>Years Of Experience</caption> </div>
</div>

<div  *ngFor="let skill of skills">
<div class="row">
    <div class="col">
        <img src="../../_content/spring-boot-logo.png" alt="Training" width="100" height="100"/>
    </div>
    <div class="col">
        <p>{{ skill.name }}</p>
    </div>
    <div class="col">
        <p>{{ skill.Description }}</p>
    </div>
    <div class="col">
            <p>{{ skill.yearsOfExperience }}</p>
    </div>
    <div class="col">
        <a *ngIf="!isActive" (click)="edit()" class="btn btn-primary" role="button">
            Edit</a>
        <a *ngIf="isActive" (click)="submitEditInfo()"class="btn btn-primary" role="button">
            Save</a>    
    </div> 
</div>
</div>
